.tab-panels{
    background-color: grey;
    width: 60%;
}

.tabs{
    display: block;
    background-color: bisque;
    text-align: center;
}
.tab-panels li{
    display: inline-block;
    margin: auto;
    width:15%;
    padding-top: 15px;
    padding-bottom:15px;
    color:#000000;
}
.tab-panels li:hover{
    background-color: grey;
    color:bisque;
}

.tab-panels .panel {
    display: none;
    padding: 30px;
    color:bisque;
}

.tab-panels .panel.active {
 display: block;
}