#slider {
    margin: auto;
    width:960px;
    height:420px;
    border:1px solid gray;
    overflow: hidden;
    }

#slider .slide{
   width:100%;
   height:420px;
   display: block;
   list-style-type: none;
    
}

#slider .slides{
    float:left;
    width:960px;
    height:420px;
}

